.footer {
  height: 100px;
  display: table;
  align-items: center;
  background-color: hsl(214, 27%, 10%);
  width: 100%;
  color: white;
  bottom: 0;
}
.footerow {
  display: table-row;
  padding: 1%;
  margin-left: 10%;
}
.footercol {
  display: table-cell;
  padding: 2%;
  margin-left: 4%;
  align-items: center;
}
.footercol ul {
  list-style: none;
}
.footercol h3 {
  padding: 2%;
  margin-left: 1%;
}
.footer_logo {
  width: 100px;
  object-fit: contain;
  margin-left: 50px;
  margin-top: 18px;
  text-decoration: underline;
  text-decoration-color: purple;
  color: aliceblue;
}
