.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: hsl(214, 27%, 10%);
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 100;
}
.header_logo {
  width: 100px;
  margin: 0 20px;
  margin-top: 2px;
  color: rgb(255, 255, 255);
}
.header_search {
  display: inline-block;
  flex: 1;
  align-items: center;
  border-radius: 24px;
  padding: 10px;
  margin-right: 5px;
}
.headsearchbt {
  position: absolute;
  align-items: center;
  width: 50%;
}
.header_searchinput {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
  z-index: 1;
}
.header_searchicon {
  padding: 5px;
  height: 22px;
  background-color: #cd9042;
}
.header_nav {
  display: flex;
  justify-content: space-evenly;
}
.header_option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}
.header_acnt {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}
.header_menu {
  display: none;
  margin-left: 10px;
  color: white;
}
.header_option1 {
  font-size: 10px;
}
.header_option2 {
  font-size: 13px;
  font-weight: 800;
}
.header_optionbasket {
  display: flex;
  align-self: center;
  color: white;
}
.header_basketcount {
  margin-left: 10px;
  margin-right: 10px;
}
.header_address {
  display: flex;
}
.header_loc {
  display: flex;
  align-self: center;
  color: white;
}
.header_bottom {
  display: none;
  background-color: hsl(214, 27%, 10%);
  align-items: center;
  justify-content: space-between;
  transition: all 450ms ease-out;
}
.head {
  display: block;
}
.options {
  background-color: white;
  padding: 20px;
}

.dropdown-content {
  display: none;
  position: absolute;
}
.dropdown-content > ul {
  color: black;
  background-color: blanchedalmond;
}

@media screen and (max-width: 940px) {
  .header_bottom {
    display: flex;
  }

  .header .header_nav,
  .header .header_loc {
    display: none;
  }
  .head .header .header_menu #click:checked ~ .header_bottom {
    background-color: hsl(355, 80%, 50%);
    left: -100%;
  }
}
